.carousel img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.caption {
    background: linear-gradient(0deg, rgba(0,0,0,1) 13%, rgba(0,0,0,0.5130252784707633) 74%, rgba(255,255,255,0) 100%);
}